@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `List[Project]` for all projects of the search query.
* and 'Float' value which is the average index of all 10 Projects
*@

    @import model.Project
    @import model.Job
    @import model.Canva
    @import model.Query
    @import helper._
    @(canvas:List[Canva])(queryForm : Form[Query])(implicit message: play.i18n.Messages)


    <html>



        <body>

            @helper.form(action = routes.HomeController.home()){
                @helper.inputText(queryForm("query"))

                <input type="submit" value="create query"/>
            }
        <br>
            @for(c <- canvas){
            <p>

        <h1>List of active 10 projects based on @c.getTitle()</h1><br>
            <b><a href = "@routes.HomeController.globalstats(c.getTitle())">Global Stats for @c.getTitle()</a></b><br><br>
            <b>Average Flesh Reading Ease Index: @c.getAverageIndex()</b><br>
            @for(p<-c.getProjects()) {
                <p>
            <li>
                OwnerID: <a href = "@routes.HomeController.user(p.getOwnerID().toString())">@p.getOwnerID</a>
                <br><br> Time Submitted: @p.getTimeSubmitted()<br><br>
                Title: <b>@p.getTitle()</b><br><br>
                Type: @p.getType()<br><br>

                Description: @p.getDesc()&nbsp
                <a href = "@routes.HomeController.indistats(p.getDesc())">Stats</a><br><br>
                Flesh Reading Ease Index: <b>@p.getReadabilityIndex()</b> &nbsp &nbsp Education Level: <b>@p.getEducationLevel()</b>
                &nbsp &nbsp FKGL: <b>@p.getFkglIndex()</b><br><br>
                Required Skills: &nbsp

                @for(j <- p.getSkills()){
                    <a  href = "@routes.HomeController.skills(j.getJob_id().toString())" >@j.getJob_name()</a> &nbsp &nbsp
                }

            </li>
                <br>
                }}

        </body>
    </html>