@*
*   This template is called the skills Template.
*   It is rendered when the user clicks on any of the displayed skills in the "Skills" section of the
*   project description.
*   It takes 2 arguments, a List of projects which contains the key-value pairs of all jobs, linked with their
*   respective Job IDs.
*@
@import model.Project
@(projects:List[Project])(averageIndex: java.lang.Double)
@import model.Project
@import model.Job

<html>
    <head>
        <h1><p align="center">Top projects based on your selected Skill </p></h1>
        <button class="button" onclick="window.location.href='@routes.HomeController.index';">Home</button>
    </head>
    <body>
        <p>
            <b>Average Flesh Reading Ease Index: @averageIndex</b><br>
        @for(p<-projects) {
            <p>
        <li>
            OwnerID: <a href = "@routes.HomeController.user(p.getOwnerID().toString())">@p.getOwnerID</a>
            <br><br> Time Submitted: @p.getTimeSubmitted()<br><br>
            Title: <b>@p.getTitle()</b><br><br>
            Type: @p.getType()<br><br>

            Description: @p.getDesc()<br><br>
            Flesh Reading Ease Index: <b>@p.getReadabilityIndex()</b> &nbsp &nbsp Education Level: <b>@p.getEducationLevel()</b>
            &nbsp &nbsp FKGL: <b>@p.getFkglIndex()</b><br><br>
            Required Skills: &nbsp

            @for(j <- p.getSkills()){
                <a  href = "@routes.HomeController.skills(j.getJob_id().toString())" >@j.getJob_name()</a> &nbsp &nbsp
            }

        </li>
            <br>
        }
    </body>
</html>