@*
*   This template is called the user Template.
*   It is rendered when the user clicks on owner_id section of the project description.
*   It takes only one parameter user, which is object of class user that is used to display all the available from the class
*@
@import model.User
@(user : User)
@import model.User
@import model.Project

<html>
    <head>
        <title>User Data</title>
        <button class="button" onclick="window.location.href='@routes.HomeController.index';">Home</button>
    </head>
    <body>
        <h2>User's Data</h2>
        <p><b>Owner_id:</b>&nbsp@user.getId()<br><br>
            <b>Name:</b>&nbsp@user.getUsername()<br><br>
            <b>Display Name:</b>&nbsp@user.getDisplay_name()<br><br>
            <b>Role:</b>&nbsp@user.getRole()<br><br>
            <b>Chosen Role:</b>&nbsp@user.getChosen_role()<br><br>
            <b>Registration Date:</b>&nbsp@user.getReg_date()<br><br>
            <b>Limited Account:</b>&nbsp@user.getLimited_account()<br><br>
            <b>Location:</b>&nbsp@user.getCountry()<br><br>
            <b>Email Verified:</b>&nbsp@user.getEmail_verified()<br><br>
            <b>Primary Currency:</b>&nbsp@user.getPrimary_currency()<br><br></p>
        <h2>Last 10 Projects</h2>
        @for(p<-user.getProjects()) {
            <p>
        <li>
            OwnerID: <b>@p.getOwnerID</b>
            <br><br> Time Submitted: @p.getTimeSubmitted()<br><br>
            Title: <b>@p.getTitle()</b><br><br>
            Type: @p.getType()<br><br>

            Description: @p.getDesc()<br><br>
            Flesh Reading Ease Index: <b>@p.getReadabilityIndex()</b> &nbsp &nbsp Education Level: <b>@p.getEducationLevel()</b>
            &nbsp &nbsp FKGL: <b>@p.getFkglIndex()</b><br><br>
            Required Skills: &nbsp

            @for(j <- p.getSkills()){
                <a  href = "@routes.HomeController.skills(j.getJob_id().toString())" >@j.getJob_name()</a> &nbsp &nbsp
            }

        </li>
            <br>
            }


    </body>
</html>